<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobu.auth.server.dao.AccountDTOMapper">

    <!--  AccountDTO ResultMap -->
    <resultMap id="AccountDTO" type="com.xiaobu.auth.server.dto.AccountDTO">
        <id column="id" property="id"/>
        <result column="identification" property="username"/>
        <result column="credence" property="password"/>
        <result column="userId" property="userId"/>
        <result column="orgId" property="orgId"/>
        <result column="expired" property="expired"/>
        <result column="locked" property="locked"/>
        <result column="enabled" property="enabled"/>
        <result column="credenceExpired" property="credenceExpired"/>
        <result column="userAdmin" property="userAdmin"/>
        <result column="userRoot" property="userRoot"/>
    </resultMap>


    <!-- 根据登录名查找账号  -->
    <select id="getAccountDTOByIdentification" resultMap="AccountDTO">
        select
        account.id,
        account.identification,
        account.credence,
        account.expired,
        account.enabled,
        account.locked,
        account.credence_expired as credenceExpired,
        fsuser.id as userId,
        fsuser.org_id as orgId,
        fsuser.user_admin as userAdmin,
        fsuser.user_root as userRoot
        from fs_account account inner join fs_user fsuser
        on account.user_id = fsuser.id
        <where>
            account.identification = #{identification}
        </where>
    </select>
</mapper>